@model DKUPPU.ViewModels.ATPLRenewalApprovalViewModel
@{
    ViewBag.Title = "Renewal Revise";
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Revise Form</h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">

            <!--Data Applicant Begin-->
            @Html.Partial("../MstRegisterForm/_DataApplicantForm", Model.Applicant)


            <!--Data Applican End-->
            <!--Form Begin-->
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <!--ID Primary-->
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_trx_license)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_applicant)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_category)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_type)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_sop_type)


                    <div class="form-group">
                        @Html.LabelFor(model => model.atpl_license_no, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.atpl_license_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.radio_phone_no, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.radio_phone_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        @Html.LabelFor(model => model.total_flying_hours, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.total_flying_hours, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.TrxLicenseViewModel.aircraft_category_rating, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-10">
                            @{ string vchecked = ""; }
                            @foreach (var item in (IEnumerable<DKUPPU.ViewModels.MstLookupViewModel>)ViewBag.aircraft_category_rating)
                            {
                                vchecked = "";
                                if (item.lookup_value == Model.TrxLicenseViewModel.aircraft_category_rating) { vchecked = "checked"; }
                                <label class="radio radio-inline">
                                    <input id="radio-aircraft-ratting" type="radio" class="radio-aircraft-ratting radiobox" name="radio-aircraft-ratting" value="@Html.DisplayFor(a=>item.lookup_value)" @vchecked disabled />
                                    <span>@Html.DisplayFor(a => item.lookup_value)</span>
                                </label>
                            }
                        </div>
                    </div>*@
                    <!--List Aircarft Ratting-->
                    @*<div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-9" id="list-aircraft-class-ratting">
                            @Html.Partial("../TrxReviseForm/_AircraftClassRatingForm", Model.TrxLicAircraftCategoryRatingViewModel)
                        </div>
                    </div>

                    <!--PPC Type Ratting-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ppc_type_ratting, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9" id="list-ppc-ratting">
                            @Html.Partial("../TrxReviseForm/_PPCTypeRatingForm", Model.TrxLicPpcViewModel)
                        </div>
                    </div>

                    <!--Instrument Rating Ratting-->
                    <legend>Instrument Rating</legend>
                    <fieldset>
                        <div class="col-md-12">
                            @Html.Partial("../TrxReviseForm/_LicInstrumentRattingForm", Model.TrxLicInstrumentRatingViewModel)
                        </div>
                    </fieldset>


                    <div class="row">
                        <div class="col-xs-6">
                            <legend>
                                Type Of Aircraft
                            </legend>
                            @Html.Partial("../TrxReviseForm/_LicAircraftTypeRattingForm", Model.TrxLicAircraftTypeRatingViewModel)
                        </div>
                        <div class="col-xs-6">
                            <legend>Medical Check</legend>
                            @Html.Partial("../TrxReviseForm/_LicMedicalCertificate", Model.TrxLicMedicalCertificateViewModel)
                        </div>
                    </div>*@

                    <!--List type Ratting-->
                    <div class="form-group">
                        <div class="col-md-2">Type Rating</div>
                        <div class="col-md-9" id="list-type-ratting">

                        </div>
                    </div>
                    <!--PPC Type Ratting-->
                    <div class="form-group">
                        <div class="col-md-11" id="control-ppc-ratting">

                        </div>
                    </div>
                    <!--PPC Type Ratting-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ppc_type_ratting, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-9" id="list-ppc-ratting">
                        </div>
                    </div>

                    <!--List Instrument Ratting-->
                    <div class="form-group">
                        <div class="col-md-2">Instrument Rating</div>
                        <div class="col-md-9" id="list-instrument-ratting">

                        </div>
                    </div>
                    <!--List Medical Check-->
                    <div class="form-group">
                        <div class="col-md-2">Medical Class</div>
                        <div class="col-md-9" id="list-medical-check">

                        </div>
                    </div>



                    <!--------------------------------------------------->
                    <fieldset>
                        <legend>Upload Document</legend>
                        @Html.Partial("../TrxReviseForm/_DocUploadForm", Model.MstDocUploadViewModel)
                    </fieldset>
                    <div id="error">
                        <input type="checkbox" id="checkbox-disclaimer" />
                        I understand and aware of my responsibility as a representative of the company or organization as assigned.
                        I further certify under penalty of perjury under Republic of Indonesia law that the information filled in the form above is true and correct.
                    </div>
                    <div class="form-actions">
                        <button id="submit" class="btn btn-primary" type="submit"> Submit </button>
                        <a href="@Url.Action("Index","Home")" class="btn btn-default"> Cancel </a>
                    </div>
                </div>
                    <!--End Form-->
            }
        </div>
    </div>
</div>


    <script>
        $(function () {
            var hasError = 0;
            $('.numberOnly').change(function () {
                //return false;
                $(this).parent().find('span').remove();
                $(this).parent().parent().removeClass('has-error');
                var value = $(this).val();
                var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
                if (!numericReg.test(value)) {
                    $(this).after('<span class="help-block">Numeric characters only.</span>');
                    $(this).parent().parent().addClass('has-error');
                    hasError = hasError + 1;
                }
            });

            // ATPL dropdown change
            $('#atpl_license_no').change(function () {
                var id_mst_license = $(this).val();
                GetTypeRatingMstLicense(id_mst_license);
                GetPPCRattingByMstLicense(id_mst_license);
                GetInstrumentRatingMstLicense(id_mst_license);
                GetMedicalCheckByMstLicense(id_mst_license);

            });

            function GetTypeRatingMstLicense(id_mst_license) {
                $.ajax({
                    url: '@Url.Action("GetTypeRatingMstLicense", "AJAX")',
                    data: {
                        id_mst_license: id_mst_license,
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#list-type-ratting').html(data);
                    }
                });
            }

            function GetPPCRattingByMstLicenseAndIdApplicant(id_mst_license, id_applicant) {
                $.ajax({
                    url: '@Url.Action("GetPPCRattingByMstLicenseAndIdApplicant", "AJAX")',
                    data: {
                        id_mst_license: id_mst_license,
                        id_applicant: id_applicant
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#list-ppc-ratting').html(data);
                        var button = '<a class="pull-right btn btn-primary btn-xs add-ppc-certificate" ><i class="fa fa-plus"></i></a>' +
                                        '<a class="pull-right btn btn-danger btn-xs remove-ppc-certificate"><i class="fa fa-trash-o"></i></a>';
                        $('#control-ppc-ratting').html(button);
                    }
                });
            }

            function GetInstrumentRatingMstLicense(id_mst_license) {
                $.ajax({
                    url: '@Url.Action("GetInstrumentRatingMstLicense", "AJAX")',
                    data: {
                        id_mst_license: id_mst_license,
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#list-instrument-ratting').html(data);
                    }
                });
            }

            function GetMedicalCheckByMstLicense(id_mst_license) {
                $.ajax({
                    url: '@Url.Action("GetMedicalCheckByMstLicense", "AJAX")',
                    data: {
                        id_mst_license: id_mst_license,
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#list-medical-check').html(data);
                    }
                });
            }


            $('form').submit(function () {
                //return false;
                $form = $('form').first();
                var value = $(this).val();
                if ($form.find('.has-error').length > 0 || hasError > 0) {
                    return false;
                }
            });

            function checkNumber() {
                var isValid = true;

            }

            /** radio aircraft ratting click */
            $('.radio-aircraft-ratting').click(function () {
                var vlookupGroup = $(this).val();
                AddAircraftClassRatting(vlookupGroup);
                AddPPCRatting(vlookupGroup);
            });

            function AddAircraftClassRatting(lookupGroup) {
                $.ajax({
                    url: '@Url.Action("GetListAircraftClassRatting", "AJAX")',
                    data: {
                        lookupGroup: lookupGroup
                    },
                    dataType: 'html',
                    beforeSend: function () {
                        var img = '<div class="row">' +
                                    '<div class="col-xs-12"><div style="text-align:center;height:200px;padding-top:75px"><img style="width:50px;height:50px" src="@DKUPPU.Helpers.ImageLoader.Loader" /></div>' +
                                    '</div></div>';
                        $('#list-license').html(img);
                    },
                    success: function (data) {
                        $('#list-aircraft-class-ratting').html(data);
                    }
                });
            }

            function AddPPCRatting(lookupGroup) {
                $.ajax({
                    url: '@Url.Action("GetListPPCRatting", "AJAX")',
                    data: {
                        lookupGroup: lookupGroup
                    },
                    dataType: 'html',
                    beforeSend: function () {
                        var img = '<div class="row">' +
                                    '<div class="col-xs-12"><div style="text-align:center;height:200px;padding-top:75px"><img style="width:50px;height:50px" src="@DKUPPU.Helpers.ImageLoader.Loader" /></div>' +
                                    '</div></div>';
                        $('#list-license').html(img);
                    },
                    success: function (data) {
                        $('#list-ppc-ratting').html(data);
                    }
                });
            }


        });
    </script>