@model IEnumerable<DKUPPU.ViewModels.UserApprovalViewModel>
@{
    Layout = null;
}

<table class=" table table-striped table-bordered table-hover" id="user-list">
    <thead>
        <tr>
            <th id="full_name" data-desc="True">@Html.DisplayNameFor(model => model.full_name)</th>
            <th id="username" data-desc="True">@Html.DisplayNameFor(model => model.username)</th>
            <th id="id_org" data-desc="True">@Html.DisplayNameFor(model => model.id_org)</th>
            <th id="email" data-desc="True">@Html.DisplayNameFor(model => model.email)</th>
            <th id="phone_number" data-desc="True">@Html.DisplayNameFor(model => model.phone_number)</th>
            <th data-order="False">Detail</th>
        </tr>
    </thead>
    <tbody id="list-data">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.full_name)</td>
                <td>@Html.DisplayFor(model => item.username)</td>
                <td>@Html.DisplayFor(model => item.id_org)</td>
                <td>@Html.DisplayFor(model => item.email)</td>
                <td>@Html.DisplayFor(model => item.phone_number)</td>
                <td class="text-center" width="5%">
                    <a href="@Url.Action("UserApproval", "Account", new { userId=item.Id})" class="btn btn-primary btn-circle"><i class="fa fa-search"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>