@using BotDetect.Web.UI.Mvc;
@using DKUPPU.Helpers;
@model DKUPPU.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    MvcCaptcha registrationCaptcha = CaptchaHelper.GetRegistrationCaptcha();
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "smart-form client-form", role = "form" }))
{
    <header>Reset Password</header>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model=>model.Id)
    
    <fieldset>
        @if (ViewBag.Errors != null)
        {
            <section>
                @Html.ValidationSummary(true, "Please Fix Following Errors : ", new { @class = "text-danger" })
                <label class="text-danger">@ViewBag.Errors</label>
            </section>
        }
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                <b class="tooltip tooltip-bottom-right"><i class="fa fa-lock txt-color-teal"></i> New Password</b>
                @Html.ValidationMessageFor(c => c.Password, null, new { @class = "text-danger" })
            </label>
            <p class="note">Password min. leng 8, must contains upper case, number, and charater</p>
        </section>
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
                <b class="tooltip tooltip-bottom-right"><i class="fa fa-lock txt-color-teal"></i> Confirm Password</b>
                @Html.ValidationMessageFor(c => c.ConfirmPassword, null, new { @class="text-danger"})
            </label>
            <p class="note">Confirm Password</p>
        </section>
        <section>
            @Html.Captcha(registrationCaptcha)
        </section>
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal", @placeholder = "Captcha Code" })
                <b class="tooltip tooltip-bottom-right"><i class="fa fa-lock txt-color-teal"></i> Enter Captcha Code</b>
            </label>
        </section>

    </fieldset>
    <footer>
        <a href="@Url.Action("Login","Account")" class="btn btn-success">
            Back To Login
        </a>
        <button type="submit" class="btn btn-primary">
            Reset Password
        </button>
    </footer>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
