@model DKUPPU.ViewModels.FACApprovalViewModel
@{
    ViewBag.Title = "FAC Approval";
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Approval Form</h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">

            <!--Data Applicant Begin-->
            @Html.Partial("../MstRegisterForm/_DataApplicantForm", Model.Applicant)

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.reg_no)

                if (ViewBag.Medical == true)
                {
                    <fieldset>
                        <legend>
                            Medical Class
                        </legend>
                        @Html.Partial("../MstApprovalForm/_MedicalCheckForm", Model.TrxLicMedicalCertificateViewModel)
                    </fieldset>
                }
                <div class="row">
                    <div class="col-xs-6">
                        <legend>
                            Type Of Aircraft
                        </legend>
                        @Html.Partial("../MstApprovalForm/_LicAircraftTypeRattingForm", Model.TrxLicAircraftTypeRatingViewModel)
                    </div>
                    <div class="col-xs-6">
                        <legend>Competency Checks</legend>
                        @Html.Partial("../MstApprovalForm/_LicCompetencyCheckForm", Model.TrxLicCompetencyCheckViewModel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <legend>Recurrent Type Of Aircraft</legend>
                        @Html.Partial("../MstApprovalForm/_LicRecurrentTypeOfAircraftForm", Model.TrxLicRecurrentTypeOfAircraftViewModel)
                    </div>
                    <div class="col-xs-6">
                        <legend>Medical Check</legend>
                        @Html.Partial("../MstApprovalForm/_LicMedicalCertificate", Model.TrxLicMedicalCertificateViewModel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Recurrent Mandatory License</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <legend>Crew Member Emergency Training</legend>
                        @Html.Partial("../MstApprovalForm/_LicCrewEmergencyTrainingForm", Model.TrxLicCrewEmergencyTrainingViewModel)
                    </div>
                    <div class="col-xs-6">
                        <legend>Aviation Security</legend>
                        @Html.Partial("../MstApprovalForm/_LicAviationSecurityForm", Model.TrxLicAviationSecurityViewModel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <legend>Dangerous Good</legend>
                        @Html.Partial("../MstApprovalForm/_LicDangerousGoodsForm", Model.TrxLicDangerousGoodsViewModel)
                    </div>
                    <div class="col-xs-6">
                        <legend>Crew Resourche Management</legend>
                        @Html.Partial("../MstApprovalForm/_LicCrewResourceManagementForm", Model.TrxLicCrewResourceManagementViewModel)
                    </div>
                </div>
                if (ViewBag.UploadDocumentForm == true)
                {
                    <fieldset>
                        <legend>Upload Document</legend>
                        @Html.Partial("../MstApprovalForm/_DocUploadForm", Model.MstDocUploadViewModel)
                    </fieldset>

                }
                if (ViewBag.GenerateLicense == true)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("../MstApprovalForm/_GenerateLicenseNumber", Model.TrxLicenseViewModel)
                        </div>
                    </div>
                }

                <fieldset>
                    <legend>Notes</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextAreaFor(model => model.Notes, new { @Class = "from-control col-xs-12" })
                        </div>
                    </div>
                </fieldset>
                if (!DKUPPU.Helpers.SessionLoginHelper.IsExnternal())
                {
                    <fieldset>
                        <legend>Logs</legend>
                        @Html.Partial("../MstApprovalForm/_LogNotesForm", Model.TrxLicenseNotesViewModel)
                    </fieldset>
                }


                if (ViewBag.UploadLicenseScan == true)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("../MstApprovalForm/_UploadLicenseScan", Model.TrxLicenseUploadViewModel)
                        </div>
                    </div>
                }
                if (ViewBag.CheckingRegNo == true)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label text-left" for="RegistrationNumber">Registration number *</label>
                                    <div class="col-md-5">
                                        <input name="RegistrationNumber" id="RegistrationNumber" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label text-left" for="IdCard">ID Card</label>
                                    <div class="col-md-5">
                                        <input name="TrxLicenseViewModel.id_card_accepted_by" id="TrxLicenseViewModel_id_card_accepted_by" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label text-left" for="Name">Name</label>
                                    <div class="col-md-5">
                                        <input name="TrxLicenseViewModel.accepted_by" id="TrxLicenseViewModel_accepted_by" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-actions">
                    @if (ViewBag.WFActions != null)
                    {
                        string disabled = "";
                        if (Model.wf_activity_name == "ACT04" || Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02")
                        {
                            disabled = "disabled";
                        }
                        foreach (DKUPPU.Helpers.WorkflowAction action in ViewBag.WFActions as List<DKUPPU.Helpers.WorkflowAction>)
                        {
                            if (action.kode == null)
                            {
                                <a class="btn btn-primary" name="action_@action.kode" id="action_@action.kode">@action.name</a>
                            }
                            else
                            {
                                <input class="btn btn-primary @disabled" type="submit" name="action_@action.kode" id="action_@action.kode" value="@action.name" />
                            }
                        }
                    }
                    <a href="@Url.Action("Index","Home")" class="btn btn-default"> Back </a>
                </div>
            }
            <!--End Form-->

        </div>
    </div>
</div>
@if (Model.wf_activity_name == "ACT04")
{
    <script>
        $(function () {
            $('#action_').click(function () {
                $('#action_Y').attr('data-submit', 'true');
                $('#action_Y').removeClass('disabled');
            });

            $('form').submit(function () {
                var isValid = $('#action_Y').attr('data-submit');
                if (isValid == 'false') {
                    return false;
                }
            });
        });
    </script>
}
@if (Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02")
{
    <script>
        $(function () {
            CheckingDoc();

            $('.satisfied').click(function () {
                CheckingDoc();
            });
            $('.un-satisfied').click(function () {
                CheckingDoc();
            });
            function CheckingDoc() {
                var IsValid = false;
                var lengthSatisfied = $('.satisfied').length;
                var lengthSatisfiedChecked = $('.satisfied:checked').length;
                //var lengthUnSatisfied = $('.un-satisfied').length;
                var lengthUnSatisfiedChecked = $('.un-satisfied:checked').length;
                if (lengthSatisfiedChecked == lengthSatisfied) {
                    enebelButtonProcesed();
                }
                else if (((lengthUnSatisfiedChecked + lengthSatisfiedChecked) == lengthSatisfied) && lengthUnSatisfiedChecked > 0) {
                    enebelButtonRevise();
                }
                else {
                    DesableAll();
                }
            }

            function enebelButtonProcesed() {
                $('#action_Y').removeClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function DesableAll() {
                $('#action_Y').addClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function enebelButtonRevise() {
                $('#action_Y').addClass('disabled');
                $('#action_R').removeClass('disabled');
                $('#action_N').removeClass('disabled');
            }
        })
    </script>
}

@if (ViewBag.CheckingRegNo == true)
{
    <script>
        $(function () {

            $('#RegistrationNumber').keyup(function () {
                var reg_no = $('#TrxLicenseViewModel_reg_no').val();
                var reg_no_input = $('#RegistrationNumber').val();
                $(this).parent().find('span').remove();
                $(this).parent().parent().removeClass('has-error');
                $(this).parent().parent().removeClass('has-success');
                if (reg_no == reg_no_input) {
                    $('#action_Y').removeClass('disabled');
                    $(this).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                    $(this).parent().parent().addClass('has-success');
                } else {
                    $(this).after('<span class="help-block">Registration number not correct</span>');
                    $(this).parent().parent().addClass('has-error');
                }
            });
        });
    </script>
}
@if (Model.wf_activity_name == "ACT01")
{
    <script>
        $(function () {
            $('#TrxLicMedicalCertificateViewModel').ready(function () {
                var $trLast = $('#TrxLicMedicalCertificateViewModel').find('tr:last');
                $.each($trLast.find('.date-picker'), function (i, val) {
                    $(this).datepicker({
                        //options
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        changeYear: true,
                        //...
                    });
                });
            });

        });
    </script>
}