@model DKUPPU.ViewModels.TrxLicMedicalCertificateViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.med_certi_no)</th>
                    <th>@Html.DisplayNameFor(model => model.from_date)</th>
                    <th>@Html.DisplayNameFor(model => model.until_date)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="TrxLicMedicalCertificateViewModel.med_certi_no" id="TrxLicMedicalCertificateViewModel_med_certi_no" class="form-control" value="@Model.med_certi_no" readonly="readonly" /></td>
                    <td><input type="text" name="TrxLicMedicalCertificateViewModel.from_date" id="TrxLicMedicalCertificateViewModel_from_date" class="form-control date-picker" value="@Html.DisplayFor(m => m.from_date)" readonly="readonly" /></td>
                    <td><input type="text" name="TrxLicMedicalCertificateViewModel.until_date" id="TrxLicMedicalCertificateViewModel_until_date" class="form-control date-picker" value="@Html.DisplayFor(m => m.from_date)" readonly="readonly" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>