@model DKUPPU.ViewModels.FasiliesRegisterFormViewModel
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody id="FasiliesRegisterFormViewModel">
            <tr>
                <td>
                    @Html.LabelFor(model => model.facility_operation, new { @class = "control-label text-left" })
                </td>
                <td>
                    @Html.EditorFor(model => model.facility_operation, new { @class = "control-label text-left" })
                </td>
                
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.maintenance_facility, new { @class = "control-label text-left" })
                </td>
                <td>
                    @Html.EditorFor(model => model.maintenance_facility, new { @class = "control-label text-left" })
                </td>
                <td>

                  <input type="file" class="control-label text-left" name="model.maintenance_facility_file" id="model.maintenance_facility_file" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.suporting_fasility, new { @class = "control-label text-left" })
                </td>
                <td>
                    @Html.EditorFor(model => model.suporting_fasility, new { @class = "control-label text-left" })
                </td>
                <td>
                    <input type="file" class="control-label text-left" name="model.suporting_fasility" id="model.suporting_fasility" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
