@model DKUPPU.ViewModels.MstJobViewModel

@{
    ViewBag.Title = "Create";
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>New Role </h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.id_job, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.id_job, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.id_job, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.Partial("_Form")
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit"> Submit </button>
                        <a class="btn btn-danger" href="@Url.Action("Index", "MstJob")">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")