@model DKUPPU.ViewModels.MstJobViewModel

@{
    ViewBag.Title = "Details";
}


<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Are you sure you want to delete this? </h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.id_job)
                    @Html.Partial("_Details", Model)
                    <div class="form-actions">
                        <a class="btn btn-primary" href="@Url.Action("Edit", "MstJob", new { id = Model.id_job })"> Edit </a>
                        <a class="btn btn-danger" href="@Url.Action("Index", "MstJob")">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>