@model DKUPPU.ViewModels.IRCPLApprovalViewModel
@{
    ViewBag.Title = "Instrument Rating CPL Approval";
    ViewBag.activity_id = Model.wf_activity_name;
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Approval Form</h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">

            <!--Data Applicant Begin-->
            @Html.Partial("../MstRegisterForm/_DataApplicantForm", Model.Applicant)
            <!--Data Applican End-->
            <!--Form Begin-->
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.wf_activity_name)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.id_trx_license)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.id_applicant)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_category)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.delivery_code)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_type)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.id_sop_type)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.reg_no)
                @Html.HiddenFor(model => model.TrxWfViewModel.sn)
                @Html.HiddenFor(model => model.TrxLicenseViewModel.created_by)
                @Html.HiddenFor(model => model.Applicant.job_name)
                @Html.HiddenFor(model => model.Applicant.full_name)
                @Html.HiddenFor(model => model.Applicant.id_applicant)
                @Html.HiddenFor(model => model.Applicant.id_card)

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LicenseNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.TrxLicenseViewModel.license_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <fieldset>
                        <legend>Instrument Rating</legend>
                        @Html.Partial("../MstApprovalForm/_LicInstrumentRattingForm", Model.TrxLicInstrumentRatingViewModel)
                    </fieldset>
                    <fieldset>
                        <legend>Medical Class</legend>
                        @Html.Partial("../MstApprovalForm/_LicMedicalCertificate", Model.TrxLicMedicalCertificateViewModel)
                    </fieldset>
                    @if (ViewBag.UploadDocumentForm == true)
                    {
                        <fieldset>
                            <legend>Upload Document</legend>
                            @Html.Partial("../MstApprovalForm/_DocUploadForm", Model.MstDocUploadViewModel)
                        </fieldset>
                    }
                    <fieldset>
                        <legend>Notes</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.TextAreaFor(model => model.Notes, new { @Class = "from-control col-xs-12" })
                            </div>
                        </div>
                    </fieldset>
                    @if (Model.TrxLicenseViewModel.id_wf_status == "WFS05" && ViewBag.ViewAcceptName == true)
                    {
                        <fieldset>
                            <legend>Accepted By</legend>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TrxLicenseViewModel.accepted_by, new { @class = "col-md-2 control-label text-left" })
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.TrxLicenseViewModel.accepted_by)
                                </div>
                            </div>
                        </fieldset>
                    }

                    @*<fieldset>
                            <legend>Logs</legend>
                            @Html.Partial("../MstApprovalForm/_LogNotesForm", Model.TrxLicenseNotesViewModel)
                            @Html.HiddenFor(model => model.TrxWfViewModel.sn)
                        </fieldset>*@
                    <fieldset>
                        <legend>Logs</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("../MstApprovalForm/_LogNotesForm", Model.TrxLicenseNotesViewModel)
                            </div>
                        </div>
                        @if (ViewBag.GenerateLicense == true)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("../MstApprovalForm/_GenerateLicenseNumber", Model.TrxLicenseViewModel)
                                </div>
                            </div>
                        }
                        @if (ViewBag.UploadLicenseScan == true)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("../MstApprovalForm/_UploadLicenseScan", Model.TrxLicenseUploadViewModel)
                                </div>
                            </div>
                            <script>
                                $('#TrxLicenseUploadViewModel_license_no').hide();
                            </script>
                        }
                        @if (ViewBag.CheckingRegNo == true)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("../MstApprovalForm/_CheckingRegistrationNumber", Model.TrxLicenseUploadViewModel)
                                </div>
                            </div>
                        }

                    </fieldset>
                    <div class="form-actions">
                        @if (ViewBag.WFActions != null)
                        {
                            string disabled = "";
                            if (Model.wf_activity_name == "ACT04" || Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02" || Model.wf_activity_name == "ACT06")
                            {
                                disabled = "disabled";
                            }
                            foreach (DKUPPU.Helpers.WorkflowAction action in ViewBag.WFActions as List<DKUPPU.Helpers.WorkflowAction>)
                            {
                                if (action.kode == null)
                                {
                                    <a class="btn btn-primary" name="action_@action.kode" id="action_@action.kode">@action.name</a>
                                }
                                else
                                {
                                    <input class="btn btn-primary @disabled" data-submit="false" type="submit" name="action_@action.kode" id="action_@action.kode" value="@action.name" onclick="javascript: return RejectConfirmation(this);" />
                                }
                            }
                        }
                        <a href="@Url.Action("Index","Home")" class="btn btn-default"> Back </a>
                    </div>
                    <!--End Form-->

                </div>
            }
        </div>
    </div>
</div>
@if (Model.wf_activity_name == "ACT04")
{
    <script>
        $(function () {
            var license_no = $('#TrxLicenseViewModel_license_no').val();
            if (license_no == null || license_no == "") {
                $('#action_').addClass('disabled');
            } else {
                $('#action_').removeClass('disabled');
                $('#action_Y').attr('data-submit', 'true');
                $('#action_Y').removeClass('disabled');
            }
            $('#action_').click(function () {
                var ReportUrl = "@Html.DisplayFor(a => a.TrxLicenseViewModel.report_url)";
                var id_mst_license = "@Model.TrxLicenseViewModel.id_mst_license";
                ReportUrl = ReportUrl.replace('{0}', id_mst_license);
                ReportUrl = ReportUrl.replace(/&amp;/g, '&');
                window.open(ReportUrl);
                $('#action_Y').attr('data-submit', 'true');
                $('#action_Y').removeClass('disabled');
            });

            $('form').submit(function () {
                var isValid = $('#action_Y').attr('data-submit');
                if (isValid == 'false') {
                    return false;
                }
            });
        });
    </script>
}
@if (Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02")
{
    <script>
        $(function () {
            CheckingDoc();

            $('.satisfied').click(function () {
                CheckingDoc();
            });
            $('.un-satisfied').click(function () {
                CheckingDoc();
            });
            function CheckingDoc() {
                var IsValid = false;
                var lengthSatisfied = $('.satisfied').length;
                var lengthSatisfiedChecked = $('.satisfied:checked').length;
                //var lengthUnSatisfied = $('.un-satisfied').length;
                var lengthUnSatisfiedChecked = $('.un-satisfied:checked').length;
                if (lengthSatisfiedChecked == lengthSatisfied) {
                    enebelButtonProcesed();
                }
                else if (((lengthUnSatisfiedChecked + lengthSatisfiedChecked) == lengthSatisfied) && lengthUnSatisfiedChecked > 0) {
                    enebelButtonRevise();
                }
                else {
                    DesableAll();
                }
            }

            function enebelButtonProcesed() {
                $('#action_Y').removeClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function DesableAll() {
                $('#action_Y').addClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function enebelButtonRevise() {
                $('#action_Y').addClass('disabled');
                $('#action_R').removeClass('disabled');
                $('#action_N').removeClass('disabled');
            }
        })
    </script>
}

@if (Model.wf_activity_name == "ACT01")
{
    <script>
        $(function () {
            $('#TrxLicMedicalCertificateViewModel').ready(function () {
                var $trLast = $('#TrxLicMedicalCertificateViewModel').find('tr:last');
                $.each($trLast.find('.date-picker'), function (i, val) {
                    $(this).datepicker({
                        //options
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        changeYear: true,
                        //...
                    });
                });
            });

            //** Validasi form
            $('form').submit(function () {
                //return false;
                var hasError = 0;
                $form = $('form:first');

                //validasi is required
                $.each($form.find('.required-value'), function (i, val) {
                    if (!IsRequired($(this))) {
                        hasError = hasError + 1;
                    }
                });

                //validasi date form - until
                if (!FromUntilValidate()) {
                    hasError = hasError + 1;
                }

                //if hasError has value more than 0 that return false
                if (hasError > 0) {
                    return false;
                }
                //return false;
            });

            //validasi is required
            $('.required-value').keyup(function () {
                IsRequired($(this));
            });

            $('.required-value.date-picker').change(function () {
                IsRequired($(this));
                FromUntilValidate();
            });


            function IsRequired(object) {
                var IsValid = true;
                $(object).parent().find('span').remove();
                $(object).parent().removeClass('has-error');
                $(object).parent().removeClass('has-success');
                var value = $(object).val();
                if (value.length <= 0) {
                    $(object).after('<span class="help-block">Is required.</span>');
                    $(object).parent().addClass('has-error');
                    IsValid = false;
                }
                else {
                    $(object).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                    $(object).parent().addClass('has-success');
                    IsValid = true;
                }
                return IsValid;
            }

            function FromUntilValidate() {
                var IsValid = true;
                var from_date = "";
                var until_date = "";

                var suffix = parseInt($('#TrxLicMedicalCertificateViewModel').find('tr:last').attr('id').match(/\d+/))

                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').parent().find('span').remove();
                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').parent().removeClass('has-error');
                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').parent().removeClass('has-success');

                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').parent().find('span').remove();
                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').parent().removeClass('has-error');
                $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').parent().removeClass('has-success');

                from_date = $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').val();
                until_date = $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').val();
                if (from_date != null && until_date != null) {
                    if (from_date.length > 0 && until_date.length > 0) {
                        var from = from_date.split('/');
                        var fromDate = new Date(from[1] + '/' + from[0] + '/' + from[2]);

                        var until = until_date.split('/');
                        var untilDate = new Date(until[1] + '/' + until[0] + '/' + until[2]);

                        if (fromDate > untilDate) {
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').after('<span class="help-block">The date range not valid</span>');
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').parent().addClass('has-error');

                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').after('<span class="help-block">The date range not valid</span>');
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').parent().addClass('has-error');
                            IsValid = false;
                        }
                        else {
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__until_date').parent().addClass('has-success');

                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                            $('#TrxLicMedicalCertificateViewModel_' + suffix + '__from_date').parent().addClass('has-success');
                            IsValid = true;
                        }
                    }
                }
                return IsValid;
            }

        });
    </script>
}