@model DKUPPU.ViewModels.MstParameterViewModel

@{
    Layout = null;
}
<table class="table table-striped">
    <tr>
        <td class="col-md-2">@Html.DisplayNameFor(model => model.id_parameter)</td>
        <td width="3">:</td>
        <td>@Html.DisplayFor(model => model.id_parameter)</td>
    </tr>
    <tr>
        <td class="col-md-2">@Html.DisplayNameFor(model => model.param_value)</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.param_value)</td>
    </tr>
    <tr>
        <td class="col-md-2">@Html.DisplayNameFor(model => model.param_description)</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.param_description)</td>
    </tr>    
</table>