@model  DKUPPU.ViewModels.FELApprovalViewModel
@{
    ViewBag.Title = Model.TrxLicenseViewModel.id_sop_type_value;
    ViewBag.License_no = Model.TrxLicenseViewModel.license_no;
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Register Form</h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">

            <!--Data Applicant Begin-->
            @Html.Partial("../MstRegisterForm/_DataApplicantForm", Model.Applicant)
            <!--Data Applican End-->
            <!--Form Begin-->
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <!--ID Primary-->
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_trx_license)
                    @Html.HiddenFor(model => model.Applicant.id_applicant)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_category)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_license_type)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.id_sop_type)
                    @Html.HiddenFor(model => model.TrxLicenseViewModel.reg_no)
                    <!--FEL Type Ratting-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>Aircraft Type Rating</legend>
                                    @Html.Partial("../MstApprovalForm/_LicAircraftTypeRattingForm", Model.TrxLicAircraftTypeRatingViewModel)
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>Competency Checks</legend>
                                    @Html.Partial("../MstApprovalForm/_LicCompetencyCheckForm", Model.TrxLicCompetencyCheckViewModel)
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <!--Recurrent Type of Aircraft-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-6">
                                <fieldset>
                                    <legend>Recurrent Type of Aircraft</legend>
                                    @Html.Partial("../MstApprovalForm/_LicRecurrentTypeOfAircraftForm", Model.TrxLicRecurrentTypeOfAircraftViewModel)
                                </fieldset>
                            </div>
                            @if (Model.TrxLicMedicalCertificateViewModel != null)
                            {
                                <div class="col-xs-6">
                                    <fieldset>
                                        <legend>Medical Check</legend>
                                        @Html.Partial("../MstApprovalForm/_LicMedicalCertificate", Model.TrxLicMedicalCertificateViewModel)
                                    </fieldset>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Remarks And References</legend>
                                @if (Model.wf_activity_name == "ACT01")
                                {
                                    @Html.TextAreaFor(model => model.TrxLicenseViewModel.remarks_references, new { @Class = "from-control col-xs-12" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(model => model.TrxLicenseViewModel.remarks_references, new { @Class = "from-control col-xs-12", @disabled = "disabled" })
                                }
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Endorsements And Limitation</legend>
                                @if (Model.wf_activity_name == "ACT01")
                                {
                                    @Html.TextAreaFor(model => model.TrxLicenseViewModel.endorsement_limitation, new { @Class = "from-control col-xs-12" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(model => model.TrxLicenseViewModel.endorsement_limitation, new { @Class = "from-control col-xs-12", @disabled = "disabled" })
                                }
                            </fieldset>
                        </div>
                    </div>
                    @if (ViewBag.UploadDocumentForm == true)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Upload Document</legend>
                                    @Html.Partial("../MstApprovalForm/_DocUploadForm", Model.MstDocUploadViewModel)
                                </fieldset>
                            </div>
                        </div>
                    }
                    <fieldset>
                        <legend>Notes</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.TextAreaFor(model => model.Notes, new { @Class = "from-control col-xs-12" })
                            </div>
                        </div>
                    </fieldset>
                    @if (!DKUPPU.Helpers.SessionLoginHelper.IsExnternal())
                    {
                        <fieldset>
                            <legend>Logs</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("../MstApprovalForm/_LogNotesForm", Model.TrxLicenseNotesViewModel)
                                </div>
                            </div>
                        </fieldset>
                    }
                    
                    @if (ViewBag.GenerateLicense == true)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("../MstApprovalForm/_GenerateLicenseNumber", Model.TrxLicenseViewModel)
                            </div>
                        </div>
                    }
                    @if (ViewBag.UploadLicenseScan == true)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("../MstApprovalForm/_UploadLicenseScan", Model.TrxLicenseUploadViewModel)
                            </div>
                        </div>
                    }
                    @if (ViewBag.CheckingRegNo == true)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label text-left" for="RegistrationNumber">Registration number *</label>
                                        <div class="col-md-5">
                                            <input name="RegistrationNumber" id="RegistrationNumber" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label text-left" for="IdCard">ID Card</label>
                                        <div class="col-md-5">
                                            <input name="TrxLicenseViewModel.id_card_accepted_by" id="TrxLicenseViewModel_id_card_accepted_by" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label text-left" for="Name">Name</label>
                                        <div class="col-md-5">
                                            <input name="TrxLicenseViewModel.accepted_by" id="TrxLicenseViewModel_accepted_by" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-actions">
                        @if (ViewBag.WFActions != null)
                        {
                            string disabled = "";
                            if (Model.wf_activity_name == "ACT04" || Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02")
                            {
                                disabled = "disabled";
                            }
                            foreach (DKUPPU.Helpers.WorkflowAction action in ViewBag.WFActions as List<DKUPPU.Helpers.WorkflowAction>)
                            {
                                if (action.kode == null)
                                {
                                    <a class="btn btn-primary" name="action_@action.kode" id="action_@action.kode">@action.name</a>
                                }
                                else
                                {
                                    <input class="btn btn-primary @disabled" type="submit" name="action_@action.kode" id="action_@action.kode" value="@action.name" />
                                }
                            }
                        }
                        <a href="@Url.Action("Index","Home")" class="btn btn-default"> Back </a>
                    </div>

                </div>
            }
            <!--End Form-->
        </div>
    </div>
</div>

@if (Model.wf_activity_name == "ACT04")
{
    <script>
        $(function () {
            $('#action_').click(function () {
                $('#action_Y').attr('data-submit', 'true');
                $('#action_Y').removeClass('disabled');
            });

            $('form').submit(function () {
                var isValid = $('#action_Y').attr('data-submit');
                if (isValid == 'false') {
                    return false;
                }
            });
        });
    </script>
}
@if (Model.wf_activity_name == "ACT01" || Model.wf_activity_name == "ACT02")
{
    <script>
        $(function () {
            CheckingDoc();

            $('.satisfied').click(function () {
                CheckingDoc();
            });
            $('.un-satisfied').click(function () {
                CheckingDoc();
            });
            function CheckingDoc() {
                var IsValid = false;
                var lengthSatisfied = $('.satisfied').length;
                var lengthSatisfiedChecked = $('.satisfied:checked').length;
                //var lengthUnSatisfied = $('.un-satisfied').length;
                var lengthUnSatisfiedChecked = $('.un-satisfied:checked').length;
                if (lengthSatisfiedChecked == lengthSatisfied) {
                    enebelButtonProcesed();
                }
                else if (((lengthUnSatisfiedChecked + lengthSatisfiedChecked) == lengthSatisfied) && lengthUnSatisfiedChecked > 0) {
                    enebelButtonRevise();
                }
                else {
                    DesableAll();
                }
            }

            function enebelButtonProcesed() {
                $('#action_Y').removeClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function DesableAll() {
                $('#action_Y').addClass('disabled');
                $('#action_R').addClass('disabled');
                $('#action_N').addClass('disabled');
            }
            function enebelButtonRevise() {
                $('#action_Y').addClass('disabled');
                $('#action_R').removeClass('disabled');
                $('#action_N').removeClass('disabled');
            }
        })
    </script>
}
@if (ViewBag.CheckingRegNo == true)
{
    <script>
        $(function () {

            $('#RegistrationNumber').keyup(function () {
                var reg_no = $('#TrxLicenseViewModel_reg_no').val();
                var reg_no_input = $('#RegistrationNumber').val();
                $(this).parent().find('span').remove();
                $(this).parent().parent().removeClass('has-error');
                $(this).parent().parent().removeClass('has-success');
                if (reg_no == reg_no_input) {
                    $('#action_Y').removeClass('disabled');
                    $(this).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                    $(this).parent().parent().addClass('has-success');
                } else {
                    $(this).after('<span class="help-block">Registration number not correct</span>');
                    $(this).parent().parent().addClass('has-error');
                }
            });
        });
    </script>
}