@model DKUPPU.ViewModels.TACRegisterFormViewModel
@{
    ViewBag.Title = "TAC Initial";

}
<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Register Form</h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">
            @Html.Partial("../MstRegisterForm/_DataApplicantForm", Model.Applicant)

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id_applicant)
                @Html.HiddenFor(model => model.id_license_category)
                @Html.HiddenFor(model => model.id_license_type)
                @Html.HiddenFor(model => model.id_sop_type)
                
                <div class="form-horizontal">
                    <fieldset>
                        <legend>Detail Lisensi</legend>
                    </fieldset>
                    <div class="form-group">
                        @Html.LabelFor(model => model.lisence_type, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.TrxLicTacViewModel.id_license_type, (IEnumerable<SelectListItem>)ViewBag.lisence_type, "Select Licence Type", new { @class = "form-control required-value-dropdown" })
                        </div>
                        <div class="col-md-12">
                            @*Terdaftar*@
                            <a id="ppl-link" href="@Url.Action("ViewFormForTAC", "PPLApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi PPL </a>
                            <a id="cpl-link" href="@Url.Action("ViewFormForTAC", "CPLApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi CPL </a>
                            <a id="atpl-link" href="@Url.Action("ViewFormForTAC", "ATPLApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi ATPL </a>
                            <a id="fac-link" href="@Url.Action("ViewFormForTAC", "FACApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi FAC </a>
                            <a id="foo-link" href="@Url.Action("ViewFormForTAC", "FOOLApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi FOO </a>
                            <a id="fe-link" href="@Url.Action("ViewFormForTAC", "FELApplicant", new { p_id_trx_license = "idtrxlicense" })" target="_blank">Anda Sudah Terdaftar Pada Registrasi FE </a>
                            @Html.HiddenFor(model => model.TrxLicTacViewModel.link_tac)
                            @Html.HiddenFor(model => model.last_id_trx_license)

                            @*Belum Terdaftar*@
                            <font id="not-registered-ppl" color="red">Anda Belum Terdaftar Pada Registrasi PPL </font>
                            <font id="not-registered-cpl" color="red">Anda Belum Terdaftar Pada Registrasi CPL </font>
                            <font id="not-registered-atpl" color="red">Anda Belum Terdaftar Pada Registrasi ATPL </font>
                            <font id="not-registered-fac" color="red">Anda Belum Terdaftar Pada Registrasi FAC </font>
                            <font id="not-registered-foo" color="red">Anda Belum Terdaftar Pada Registrasi FOO </font>
                            <font id="not-registered-fe" color="red">Anda Belum Terdaftar Pada Registrasi FE </font>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Upload Document</legend>
                        @Html.Partial("../MstRegisterForm/_DocUploadForm", Model.MstDocUploadViewModel)
                    </fieldset>
                    <div id="error">
                        <input type="checkbox" id="checkbox-disclaimer" />
                        I understand and aware of my responsibility as a representative of the company or organization as assigned. I further certify under penalty of perjury under Republic of Indonesia law that the information filled in the form above is true and correct.
                    </div>
                </div>
                <div class="form-actions">
                    <button id="submit" class="btn btn-primary" type="submit"> Submit </button>
                    <a href="@Url.Action("Index","Home")" class="btn btn-default"> Cancel </a>
                </div>

            }
            <!--End Form-->

        </div>
    </div>
</div>

<script>
    $(function () {

        function init() {
            $('#ppl-link').hide();
            $('#cpl-link').hide();
            $('#atpl-link').hide();
            $('#fac-link').hide();
            $('#foo-link').hide();
            $('#fe-link').hide();
            $('#not-registered-ppl').hide();
            $('#not-registered-cpl').hide();
            $('#not-registered-atpl').hide();
            $('#not-registered-fac').hide();
            $('#not-registered-foo').hide();
            $('#not-registered-fe').hide();
            $('#submit').attr('disabled', 'disabled');

            //$('#ppl-link').removeAttr('name');
            //$('#cpl-link').removeAttr('name');
            //$('#atpl-link').removeAttr('name');
            //$('#fac-link').removeAttr('name');
            //$('#foo-link').removeAttr('name');
            //$('#fe-link').removeAttr('name');
        }

        init();

        $('#TrxLicTacViewModel_id_license_type').change(function () {
            $.ajax({
                url: '@Url.Action("GetLicense", "TACApplicant")',
                data: {
                    id_applicant: $('#id_applicant').val(),
                    id_license_type: $(this).val()
                },
                dataType: 'JSON',
                success: function (data) {
                    init();
                    if (data.id_trx_license != undefined) {
                        var link = $('#' + data.id_registered).attr('href');
                        var reallink = link.replace('idtrxlicense', data.id_trx_license);
                        $('#last_id_trx_license').val(data.id_trx_license);
                        $('#' + data.id_registered).attr('href', reallink);
                        $('#TrxLicTacViewModel_link_tac').val(reallink);
                        $('#' + data.id_registered).show();
                        $('#submit').removeAttr('disabled');
                    } else {
                        $('#' + data.id_not_registered).show();
                    }
                }
            });
        });

        //** Validasi form
        $('form').submit(function () {
            //return false;
            var hasError = 0;
            $form = $('form:first');

            //validasi file type
            $.each($form.find('input[type="file"]'), function (i, val) {
                if (!FileValidation($(this))) {
                    hasError = hasError + 1;
                }
                if (!FileSize($(this))) {
                    hasError = hasError + 1;
                }
            });

            //validasi is required
            $.each($form.find('.required-value'), function (i, val) {
                if (!IsRequired($(this))) {
                    hasError = hasError + 1;
                }
            });



            //if hasError has value more than 0 that return false
            if (hasError > 0) {
                return false;
            }
            //return false;
        });

        //validasi is required
        $('.required-value').keyup(function () {
            IsRequired($(this));
        });

        $('.required-value.date-picker').change(function () {
            IsRequired($(this));
            //FromUntilValidate();
        });

        //validasi file type
        $('input[type="file"]').on("change", function () {
            if (FileValidation($(this))) {
                FileSize($(this));
            }
        });

        function FileValidation(object) {
            var IsValid = true;

            var allowedExtensions = ["jpg", "pdf", "png"];

            var value = $(object).val(),
                        file = value.toLowerCase(),
                        extension = file.substring(file.lastIndexOf('.') + 1);
            if ($(object).val().length > 0) {

                $(object).parent().find('span').remove();
                $(object).parent().removeClass('has-error');
                $(object).parent().removeClass('has-success');

                if ($.inArray(extension, allowedExtensions) == -1) {
                    $(object).after('<span class="help-block">Invalid File. Please upload a File with extension: '+allowedExtensions.join(", ")+'</span>');
                    $(object).parent().addClass('has-error');
                    IsValid = false;
                } else {
                    $(object).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                    $(object).parent().addClass('has-success');
                    IsValid = true;
                }
            }
            return IsValid;
        }
        // validasi file size document upload
        function FileSize(object) {
            var IsValid = true;
            if ($(object).val().length > 0) {
                $(object).parent().find('span').remove();
                $(object).parent().removeClass('has-error');
                $(object).parent().removeClass('has-success');
                var file = $(object)[0].files[0];
                var maxFileSize = $('#DocUploadFormFileSize').val();

                if (file.size > parseInt(maxFileSize) || file.FileSize > parseInt(maxFileSize)) {
                    $(object).after('<span class="help-block">The file size to big</span>');
                    $(object).parent().addClass('has-error');
                    IsValid = false;
                } else {
                    $(object).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                    $(object).parent().addClass('has-success');
                    IsValid = true;
                }
            }
            return IsValid;
        }

        function IsRequired(object) {
            var IsValid = false;
            $(object).parent().find('span').remove();
            $(object).parent().removeClass('has-error');
            $(object).parent().removeClass('has-success');
            var value = $(object).val();
            if (value.length <= 0) {
                $(object).after('<span class="help-block">Is required.</span>');
                $(object).parent().addClass('has-error');
                IsValid = false;
            }
            else {
                $(object).after('<span class="form-control-feedback pull-left"><i class="fa fa-check"></i></span>');
                $(object).parent().addClass('has-success');
                IsValid = true;
            }
            return IsValid;
        }
    });
</script>