@model List<DKUPPU.ViewModels.SpWfSelectTrxGroupExamUploadScanViewModel>
@{
    if (ViewBag.NoLayout != true)
    {
        Layout = null;
    }
    ViewBag.Title = "Applicant List";
    List<DKUPPU.ViewModels.MstMenuViewModel> MenuIcon = new List<DKUPPU.ViewModels.MstMenuViewModel>();
}
<style>
    table > thead > tr > th {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        @if (User.Identity.Name != null)
        {
            MenuIcon = DKUPPU.DAL.MstMenuDAL.GetAllMenu(User.Identity.Name, "MN03");
            foreach (DKUPPU.ViewModels.MstMenuViewModel menuIconItem in (IEnumerable<DKUPPU.ViewModels.MstMenuViewModel>)MenuIcon.OrderBy(a => a.menu_order))
            {
                if (menuIconItem.menu_title == "Checkout")
                {
                    <button class="btn bg-color-greenLight txt-color-white @Html.DisplayFor(a => menuIconItem.menu_params)" id="@menuIconItem.menu_name" data-target="#modal-all-modul" data-toggle="modal" title="@menuIconItem.menu_title">
                        <i class="fa fa-@menuIconItem.menu_icon fa-4x"></i>
                    </button>
                }
                else
                {
                    <button class="btn bg-color-blue txt-color-white @Html.DisplayFor(a => menuIconItem.menu_params)" id="@menuIconItem.menu_name" data-target="#modal-all-modul" data-toggle="modal" title="@menuIconItem.menu_title">
                        <i class="fa fa-@menuIconItem.menu_icon fa-4x"></i>
                    </button>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <input class="form-control" id="search-value-index" value="@ViewBag.srcValue" name="search-value-index" placeholder="Search" />
    </div>
    <div class="col-xs-2">
        <a id="src-lecense" class="btn btn-warning btn-sm ">Search</a>
    </div>
</div>
<br />
<input type="hidden" name="id_wf_status_for_print" id="id_wf_status_for_print" value="@ViewBag.WfStatus" />
<div class="row">
    <div class="col-xs-12" id="list-license" data-wf="@ViewBag.WfStatus">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-greenDark" id="wid-id-2" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>List All Group </h2>

            </header>

            <!-- widget div-->
            <div id="table-list">
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="table-responsive">
                        <table id="table-applicant" class="table table-hover">
                            <thead>
                                <tr>
                                    <th id="RegNo" data-desc="True">
                                        Created Date
                                    </th>
                                    <th id="NIK" data-desc="True">
                                        Group Name
                                    </th>
                                    <th id="ApplicantName" data-desc="True" data-order="False">
                                        Applicant Name
                                    </th>
                                    <th id="Position" data-desc="True" data-order="False">
                                        Position
                                    </th>
                                    <th id="Organization" data-desc="True" data-order="False">
                                        Organization
                                    </th>
                                    <th id="IdentityType" data-desc="True">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="applicant-list-data">
                                @{int j = 0;}
                                @foreach (DKUPPU.ViewModels.SpWfSelectTrxGroupExamUploadScanViewModel item in Model)
                                {
                                    <tr id="">
                                        <td>
                                            <a href="@Url.Action("UploadScan", "Reports", new { id_group_exam = item.id_group_exam })">
                                            @Html.DisplayFor(modelItem => item.created_date)
                                            </a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.group_name)</td>
                                        <td>Group</td>
                                        <td>Group</td>
                                        <td>Group</td>
                                        <td>@Html.DisplayFor(modelItem => item.total)</td>
                                    </tr>
                                    j++;
                                }
                            </tbody>
                        </table>
                        <div class="dt-toolbar-footer">
                            <div class="col-xs-2 col-sm-2" id="total-row">
                                <b><i>Total Data :</i> @ViewBag.TotalRow</b>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <div class="dataTables_paginate paging_simple_numbers" id="pagination-applicant">
                                    @Html.Raw(ViewBag.Pagination)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->
    </div>
</div>





@if (MenuIcon != null)
{
    foreach (DKUPPU.ViewModels.MstMenuViewModel menuIconItem in MenuIcon)
    {
        <script>
            $(function () {
                $('#' + '@menuIconItem.menu_name').click(function () {
                    $.ajax({
                        url: "@Url.Action(menuIconItem.menu_action, menuIconItem.menu_controller)",
                        dataType: 'html',
                        beforeSend: function () {
                            var img = '<div class="modal-dialog modal-lg">' +
                                        '<div class="modal-content"><div style="text-align:center;height:300px;padding-top:125px"><img style="width:50px;height:50px" src="@DKUPPU.Helpers.ImageLoader.Loader" /></div>' +
                                        '</div></div>';
                            $('#modal-all-modul').html(img);
                        },
                        success: function (data) {
                            $('#modal-all-modul').html(data);
                        }
                    });
                });
            });
        </script>
    }
}
<script type="text/javascript">
    $(function () {
        /* button search */
        var propertyOrder = "created_date";
        var isDescending = "True";
        $('#src-lecense').click(function () {
            var srcValue = $('#search-value-index').val();
            var wfStatus = $('#list-license').attr("data-wf");
            getListData(wfStatus, 1, 10, srcValue, propertyOrder, isDescending);
        });
        $('#pagination-applicant').on("click", "li.page", function (e) {
            var page = $(this).attr('link');
            var wfStatus = "@ViewBag.WfStatus";
            var pageSize = 10;
            var srcValue = $('#search-value-index').val();
            getListData(wfStatus, page, pageSize, srcValue, propertyOrder, isDescending);
        });

        $('#table-applicant>thead>tr>th').click(function (e) {
            if ($(this).attr('data-order') != 'False') {
                var page = 1;
                var wfStatus = "@ViewBag.WfStatus";
                var pageSize = 10;
                var srcValue = $('#search-value-index').val();
                propertyOrder = $(this).attr('id');
                isDescending = $(this).attr('data-desc');
                $('#table-applicant>thead>tr>th>span').remove();
                if (isDescending == "True") {
                    $(this).attr('data-desc', 'False');
                    $(this).html($(this).text() + '<span class="fa fa-caret-up pull-right"></span>');
                }
                else {
                    $(this).attr('data-desc', 'True');
                    $(this).html($(this).text() + '<span style="padding-top:5px" class="fa fa-caret-down pull-right"></span>');
                }
                getListData(wfStatus, page, pageSize, srcValue, propertyOrder, isDescending);
            }
        });

        function getListData(wfStatus, page, pageSize, srcValue, propertyOrder, isDescending) {
            $.ajax({
                url: '@Url.Action("GeUpluadScanExamInternalReturnJson", "AJAX")',
                data: {
                    wfStatus: wfStatus,
                    page: page,
                    pageSize: pageSize,
                    srcValue: srcValue,
                    propertyOrder: propertyOrder,
                    isDescending: isDescending
                },
                dataType: 'JSON',
                beforeSend: function () {
                    var img = '<div class="loader" style="background-color: #000;position: absolute;bottom: 0;right:0;left:0;top: 0;z-index: 1000;opacity: 0.5;">' +
                                    '<div style="text-align:center;height:300px;padding-top:60px">' +
                                        '<img style="width:50px;height:50px" src="@DKUPPU.Helpers.ImageLoader.Loader" />' +
                                    '</div>' +
                                '</div>';
                    $('#table-list').after(img);
                },
                success: function (data) {
                    var table_row = '';
                    $.each(data.dataTable, function (i, value) {
                        table_row += '<tr>';
                        table_row += '<td><a href="@Url.Action("UploadScan", "Reports")?id_group_exam=' + value.id_group_exam + '">' + value.created_date_string + '</a></td>';
                        table_row += '<td>' + value.group_name + '</td>';
                        table_row += '<td>Group</td>';
                        table_row += '<td>Group</td>';
                        table_row += '<td>Group</td>';
                        table_row += '<td>' + value.total + '</td>';
                        table_row += '</tr>';
                    });
                    $('#applicant-list-data').html(table_row);
                    $('#pagination-applicant').html(data.pagination);
                    $('#total-row').html('<b><i>Total Data :</i>' + data.totalRow + '</b>');
                    $('.loader').remove();
                }
            });
        }
    });
</script>

